<div class="col-md-3">
    <div class="card product-card">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{category}}</h6>
            <p class="card-text">
                <strong>Preço:</strong> R$ {{price}}<br>
                <strong>Cor:</strong> {{color}}<br>
            </p>
            <button class="btn btn-primary buy-now-btn btn-glow mt-auto" data-product='{{product}}'><i
                    class="bi bi-cart-plus me-1"></i> Comprar</button>
        </div>
    </div>
</div>